.TitleWrapper5 {
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 8%;
  font-size: 65px;
  color: orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TextBox5 {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 23%;
  color: #ffffff;
  left: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TextBoxInner {
  color: #fefefe;
  font-family: "Julius Sans", sans-serif;
  font-size: 45px;
  width: 98%;
  text-align: center;
  line-height: 1.3em;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
}
