.BuilderControls {
  // margin-top: 20px;
  display: flex;
  flex-direction: column;
  // position: fixed;
  // bottom: 20px;
  // right: 10%;
  // left: 10%;
  // width: 80%;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.BtnGroup {

}