.Wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.TitleWrapper {
  // align-self: flex-end;
  padding: 10px;
  position: absolute;
  top: 7%;
  font-size: 65px;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StepTitle {
  font-size: 75px;
  font-family: "Julius Sans", sans-serif;
}


.TextBox {
  position: absolute;
  overflow: hidden;
  width: 43%;
  height: 43%;
  top: 39.2%;
  right: 5%;
  // background-color: #333330;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextBoxInner {
  color: #fefefe;
  font-family: "Julius Sans", sans-serif;
  font-size: 45px;
  width: 65%;
  text-align: center;
  line-height: 1.3em;
}

.TextBox9 {
  position: absolute;
  overflow: hidden;
  width: 43%;
  height: 43%;
  top: 29.6%;
  right: 5.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextBoxInner9 {
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  width: 65%;
  text-align: center;
  line-height: 1.3em;
}
