.TextBox5 {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 45%;
  top: 50%;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextBoxInner5 {
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  width: 60%;
  text-align: center;
  line-height: 1.3em;
}
.TitleWrapper5 {
  position: absolute;
  top: 0;
  left: 2%;
  font-size: 65px;
  color: #fefefe;
  width: 48%;
  height: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.StepTitle5 {
  font-size: 75px;
  font-family: "Julius Sans", sans-serif;
 
}
